---
---
header h1 {
   font-size: 50px;
   overflow: visible;
   color: #FFE788;
 }
h1#page-title {

   color: #fafafa;
   background-color: #4276b6;
   text-align: center;
   border: 1px solid #dba500;
h1 {
font: 48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .page-title {
  font: 48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fafafa;
  background-color: #4276b6;
  text-align: center;
  border: 1px solid #dba500;
}
 h2 {
   text-decoration: underline;
 }
img {
  width: 25%
}
.resource-list {
  float: left;
  width: 66%;
  padding-left: 20px;
}
.resource {
  margin: 2.5%;
}
 #banner
.button {
   width: 15%;
   min-width: 200px;
   display: inline-block;
   padding: 5%;
   margin: 5% auto;
}
footer {
   display: block;
 }
