---
---
header h1 {
   min-width: 100%;
   font-size: 50px;
   overflow: visible;
   color: #FFE788;
}
.page-title {
   min-width: 100%;
   color: #fafafa;
   background-color: #4276b6;
   text-align: center;
   border: 1px solid #dba500;
}
 h2 {
   text-decoration: underline;
 }
 img {
   max-width: 100%;
   height: auto;
 }
.resource {
  margin: 2.5%;
}
.content-right {
  @media all and (min-width: 960px) {
    width: 66%;
    float: left;
  }
}
.img-left {
  @media all and (min-width: 960px) {
    width: 33%;
    float: right;
    }
}
 #banner
.button {
   width: 15%;
   min-width: 200px;
   display: inline-block;
   padding: 5%;
   margin: 5% auto;
}
.clearfix:after {
   clear: both;
   display: table;
}
footer {
   display:block;
}
